body {
    overflow: hidden;
    margin: 0;
}

.remove-click {
    pointer-events: none;
}

.overlay {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}